.main-content {
  margin-left: 140px;
  width: calc(100% - 140px);
  height: 100vh; /* Ensures full height */
  overflow-y: auto; /* Enables scrolling inside main content */
}

/* Ensure the table container allows sticky positioning */
.table-container {
  max-height: calc(100vh - 175px); /* Adjust height to fit your layout */
  overflow-y: auto; /* Enables scrolling for the table */
  position: relative; /* Ensures sticky positioning works */
}

/* Make table header sticky */
.table thead {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar {
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-color: #fff9c4;
  top: 0;
  bottom: 0;
  left: 0;
  width: 140px;
  overflow-y: auto; /* Enables scrolling inside sidebar */
}

.sidebar-header {
  background: linear-gradient(45deg, #ffa000, #ffc107);
  padding: 1rem;
  width: 100%;
  text-align: center;
  z-index: 2;
  background-color: white;
  border-bottom: 1px solid #dee2e6;
}

.sidebar-header span {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar-user {
  color: white;
  text-decoration: none;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 0;
}

.sidebar-user-icon {
  color: white;
}

.sidebar-nav-link {
  color: #59362a;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
  width: 140px;
}

.sidebar-nav-link i {
  font-size: 1.75rem;
}

.sidebar-nav-link span {
  font-size: 1.5rem;
  margin-left: 0.25rem;
}

.sidebar-nav-link:hover {
  background: rgba(255, 160, 0, 0.1);
  color: #f57f17;
  text-decoration: none;
}

/* Active route styles */
.sidebar-nav-link.active {
  color: #e65100; /* Dark Orange */
  color: #5d2100; /* Dark Orange */
  background: #ffa000;
}

/*.sidebar-nav-link.active:hover {
  color: #e65100;
  color: #ffffff;
}*/

.sidebar-nav-link i,
.sidebar-nav-link span {
  pointer-events: none; /* This prevents hover effects on child elements */
}

.sidebar-nav-scroll {
  flex: 1;
  overflow-y: auto;
  padding: 1rem 0;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Ensure nav items are properly spaced */
.nav-pills .nav-link {
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
}
