/* .two-column-option {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10rem;
  padding: 0.25rem 0.5rem;
} */

.option-col1 {
  font-weight: 500;
}

.option-col2 {
  color: #666;
  text-align: right;
}

.custom-dropdown {
  position: relative;
  width: 100%;
  height: 27px;
  padding: 0;
  border: 0;
}

.dropdown2-options {
  background: #ffffff;
  border: 1px solid #ced4da;
  border-top: none;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdown2-option {
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 27px;
}

.dropdown2-option:hover {
  background-color: #e6e9ec;
}

.dropdown2-option.selected {
  background-color: #e9ecef;
  font-weight: bold;
}

.custom-dropdown.is-invalid {
  border-color: #dc3545;
}

.dropdown2-option.placeholder {
  color: #6c757d;
  font-style: italic;
}

.dropdown2-search {
  padding: 0.375rem;
  border-bottom: 1px solid #ced4da;
  background: white;
}

.dropdown2-search input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 0.9rem;
  height: 27px;
  margin: 0;
}

.dropdown2-search input:focus {
  outline: none;
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.dropdown2-col2 {
  text-align: right;
  font-size: 10px;
}
